$bBgColor: #000000;
$txColorBottom: #FFFFFF;
$textColor: #1F1F1D;
$titleSize: 18px;
$sizeBox:33.333%;
$size12:12px;
$uppercase:uppercase;
$bold:bold;
//============
$xl-4:1200px;
$lg-3:970px;
$md-2:576px;
$sm-1:320px;
